@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus {
  outline: none; }

a {
  text-decoration: none; }

p {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #F1E2D6; }

body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px; }

body::-webkit-scrollbar-track {
  background-color: #fff; }

body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff; }

body::-webkit-scrollbar-button {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif; }

h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 75px; }

h2 {
  font-weight: 900;
  font-size: 50px;
  line-height: 63px; }

h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 280px;
  height: 58px;
  background: #2C8536;
  border-radius: 5px;
  font-family: 'Merriweather', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer; }

.btn:hover {
  background: #EEFAD0;
  color: #2D0F06; }

ul, ol {
  margin: 0;
  padding: 0; }
  ul li, ol li {
    display: block;
    margin: 0;
    padding: 0; }

.container {
  max-width: 1442px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto; }

.header-mobile {
  display: none; }

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99; }

.header_mobile_bottom {
  display: none; }

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__logo {
  width: 208px;
  margin-top: 19px; }
  .header__logo h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 8px;
    color: #FFFFFF; }
  .header__logo p {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF; }

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 23px;
  margin-left: auto; }
  .header__navbar li {
    margin-left: 115px; }
    .header__navbar li a {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
      position: relative; }
    .header__navbar li a::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #FFFFFF;
      position: absolute;
      bottom: -8px;
      left: 0;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .header__navbar li a:hover::after {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .header__navbar li:nth-child(1) {
    margin-left: 0; }

.header__right {
  margin-top: 16px;
  margin-left: 208px; }
  .header__right a {
    color: #EEFAD0;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 2px; }
  .header__right p {
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
    color: #FFFFFF;
    border-bottom: 1px dashed #007839;
    padding-bottom: 4px; }

.carousel {
  height: 736px;
  background: url(../img/slider-bg.jpg) no-repeat center/cover;
  position: relative; }

.carousel__slider {
  height: 100%; }
  .carousel__slider .slick-arrow {
    z-index: 99;
    width: 40px;
    height: 40px;
    background: rgba(45, 15, 6, 0.3);
    border-radius: 50%; }
  .carousel__slider .slick-arrow::before {
    display: none; }
  .carousel__slider .slick-prev {
    left: 30px; }
  .carousel__slider .slick-prev::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    border-top: none;
    border-right: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-30%, -50%) rotate(45deg);
    -ms-transform: translate(-30%, -50%) rotate(45deg);
    transform: translate(-30%, -50%) rotate(45deg); }
  .carousel__slider .slick-next {
    right: 30px; }
  .carousel__slider .slick-next::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    border-top: none;
    border-left: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-70%, -40%) rotate(-45deg);
    -ms-transform: translate(-70%, -40%) rotate(-45deg);
    transform: translate(-70%, -40%) rotate(-45deg); }
  .carousel__slider .slick-arrow:hover {
    background: rgba(45, 15, 6, 0.5); }
  .carousel__slider .carousel__block {
    position: relative; }
  .carousel__slider .slick-list, .carousel__slider .slick-track, .carousel__slider .container, .carousel__slider .carousel__title {
    height: 100%; }
  .carousel__slider .carousel__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .carousel__slider .carousel__title .img {
      width: auto;
      height: 531px;
      position: absolute;
      bottom: 0;
      right: 55px; }
    .carousel__slider .carousel__title h1 {
      width: 937px;
      color: #FFFFFF;
      margin-bottom: 24px;
      position: relative;
      z-index: 99; }
    .carousel__slider .carousel__title p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      margin-bottom: 7px;
      position: relative;
      z-index: 99; }
      .carousel__slider .carousel__title p img {
        margin-right: 7px; }
    .carousel__slider .carousel__title .btn {
      margin-top: 37px;
      position: relative;
      z-index: 99; }

.carousel__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .carousel__btn img {
    width: 63px; }
  .carousel__btn .btn {
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
    position: relative;
    z-index: 1; }
  .carousel__btn img.btn_right {
    -webkit-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    transform: translateX(-60px); }

.carousel__block h1 {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.carousel__block p {
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.carousel__block .img {
  -webkit-transform: translateY(500px);
  -ms-transform: translateY(500px);
  transform: translateY(500px);
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease; }

.carousel__block .carousel__btn {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.carousel__block.slick-active h1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s; }

.carousel__block.slick-active p {
  opacity: 1;
  -webkit-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s; }

.carousel__block.slick-active p:nth-child(2) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s; }

.carousel__block.slick-active p:nth-child(3) {
  -webkit-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  transition-delay: 1.6s; }

.carousel__block.slick-active .img {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1.8s;
  -o-transition-delay: 1.8s;
  transition-delay: 1.8s; }

.carousel__block.slick-active .carousel__btn {
  opacity: 1;
  -webkit-transition-delay: 2.2s;
  -o-transition-delay: 2.2s;
  transition-delay: 2.2s; }

.link_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  z-index: 1; }

.link {
  margin-top: -86px;
  position: relative;
  padding: 200px 0 100px;
  position: relative; }
  .link .link__box {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.link__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 670px;
  height: 120px;
  background: url(../img/bg_advent.png) no-repeat bottom/cover;
  border-radius: 20px;
  padding-left: 35px;
  font-family: 'Merriweather', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  color: #2D0F06; }
  .link__btn span {
    font-weight: 600; }
  .link__btn img {
    width: 120px;
    height: 120px;
    margin-right: 40px; }

.products {
  padding-top: 200px;
  padding-bottom: 104px; }
  .products h2 {
    max-width: 738px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px; }

.products__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.product__left {
  width: 695px;
  height: 695px;
  margin-right: 20px;
  margin-bottom: 20px; }
  .product__left a {
    height: 695px;
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(#2A2B25), color-stop(45.05%, rgba(80, 20, 0, 0.87)), to(#CB8924));
    background: -webkit-linear-gradient(top, #2A2B25 0%, rgba(80, 20, 0, 0.87) 45.05%, #CB8924 100%);
    background: -o-linear-gradient(top, #2A2B25 0%, rgba(80, 20, 0, 0.87) 45.05%, #CB8924 100%);
    background: linear-gradient(180deg, #2A2B25 0%, rgba(80, 20, 0, 0.87) 45.05%, #CB8924 100%);
    border-radius: 5px;
    position: relative;
    overflow: hidden; }
    .product__left a .products__icon {
      width: 172px;
      position: absolute;
      top: -80px;
      left: -50px;
      opacity: 0.2;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease; }
    .product__left a .products__icon2 {
      width: 172px;
      position: absolute;
      top: -80px;
      right: -50px;
      opacity: 0.2;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease; }
    .product__left a h3 {
      color: #FFFFFF;
      text-align: center;
      padding-top: 112px; }
    .product__left a .img {
      position: absolute;
      bottom: -50px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
      height: 500px; }

.product__left.right {
  margin-right: 0;
  margin-left: 20px;
  margin-bottom: 0; }

.product__right {
  width: 695px; }
  .product__right a {
    height: 337px;
    display: block;
    background: -webkit-gradient(linear, left top, right top, from(#2A2B25), color-stop(46.32%, rgba(80, 20, 0, 0.87)), color-stop(101.44%, #CB8924));
    background: -webkit-linear-gradient(left, #2A2B25 0%, rgba(80, 20, 0, 0.87) 46.32%, #CB8924 101.44%);
    background: -o-linear-gradient(left, #2A2B25 0%, rgba(80, 20, 0, 0.87) 46.32%, #CB8924 101.44%);
    background: linear-gradient(90deg, #2A2B25 0%, rgba(80, 20, 0, 0.87) 46.32%, #CB8924 101.44%);
    border-radius: 5px;
    position: relative;
    overflow: hidden; }
    .product__right a .products__icon {
      width: 172px;
      position: absolute;
      top: -90px;
      left: -60px;
      opacity: 0.2;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease; }
    .product__right a .products__icon2 {
      width: 172px;
      position: absolute;
      bottom: -90px;
      left: -60px;
      opacity: 0.2;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
      -webkit-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease; }
    .product__right a h3 {
      padding-top: 120px;
      padding-left: 50px;
      color: #FFFFFF; }
    .product__right a .img {
      position: absolute;
      bottom: -50px;
      right: -10%;
      -webkit-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
      height: 300px; }
  .product__right a:last-child {
    background: -webkit-gradient(linear, right top, left top, from(#2A2B25), color-stop(45.05%, rgba(80, 20, 0, 0.87)), to(#CB8924));
    background: -webkit-linear-gradient(right, #2A2B25 0%, rgba(80, 20, 0, 0.87) 45.05%, #CB8924 100%);
    background: -o-linear-gradient(right, #2A2B25 0%, rgba(80, 20, 0, 0.87) 45.05%, #CB8924 100%);
    background: linear-gradient(270deg, #2A2B25 0%, rgba(80, 20, 0, 0.87) 45.05%, #CB8924 100%);
    margin-top: 20px; }

.product__left a:hover .img {
  bottom: 0; }

.product__left a:hover .products__icon {
  top: -50px;
  left: -20px; }

.product__left a:hover .products__icon2 {
  top: -50px;
  right: -20px; }

.product__right a:hover .img {
  bottom: 0; }

.product__right a:hover .products__icon {
  top: -80px;
  left: -50px; }

.product__right a:hover .products__icon2 {
  bottom: -80px;
  left: -50px; }

.question {
  padding-bottom: 100px; }

.question__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.question__img {
  width: calc(100% - 574px); }

.question__form {
  width: 574px;
  background: #FFFFFF url(../img/question-form-bg.png) no-repeat center/cover;
  position: relative;
  padding: 60px 40px 90px 40px; }
  .question__form .question__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .question__form h2 {
    text-align: center;
    margin-bottom: 13px; }
  .question__form h3 {
    text-align: center;
    margin-bottom: 13px; }
  .question__form p {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #707070;
    margin-bottom: 28px;
    text-align: center; }
  .question__form input {
    width: 100%;
    height: 53px;
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 0 20px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #707070;
    margin-bottom: 15px; }
  .question__form span {
    margin-top: 20px; }
    .question__form span a {
      color: #2C8536; }
  .question__form .btn {
    width: 100%;
    margin-top: 15px; }

.slider_bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  z-index: 1; }

.slider {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative; }
  .slider .container {
    position: relative;
    z-index: 2; }
  .slider h2 {
    margin-bottom: 35px;
    text-align: center; }
  .slider .slick-arrow::before {
    display: none; }
  .slider .slick-arrow {
    width: 40px;
    height: 40px;
    z-index: 99;
    background: url(../img/arrow.svg) no-repeat center;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center; }
  .slider .slick-prev {
    left: -50px; }
  .slider .slick-next {
    right: -50px;
    -webkit-transform: rotate(-180deg) translateY(50%);
    -ms-transform: rotate(-180deg) translateY(50%);
    transform: rotate(-180deg) translateY(50%); }
  .slider .slick-arrow:hover {
    background: url(../img/arrow-hover.svg) no-repeat center; }
  .slider .slick-prev:hover {
    -webkit-transform: rotate(-180deg) translateY(50%);
    -ms-transform: rotate(-180deg) translateY(50%);
    transform: rotate(-180deg) translateY(50%); }
  .slider .slick-next:hover {
    -webkit-transform: rotate(0) translateY(-50%);
    -ms-transform: rotate(0) translateY(-50%);
    transform: rotate(0) translateY(-50%); }

.slider__block {
  margin: 0 auto;
  width: 160px;
  height: 160px;
  background: url(../img/slider-bg.png) no-repeat center;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.map {
  margin-top: -120px;
  background: url(../img/map.jpg) no-repeat center/cover;
  padding: 146px 0;
  position: relative; }

.map__form_bottom {
  position: absolute;
  bottom: -43px;
  left: 0;
  width: 100%; }

.map__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer_bg {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
  z-index: 1; }

.footer__block {
  position: relative;
  z-index: 2; }

.footer {
  overflow: hidden;
  padding: 150px 0 45px 0;
  position: relative;
  margin-top: -86px; }
  .footer .footer__block {
    height: 100%; }

.footer__top {
  margin-bottom: 35px; }
  .footer__top h5 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #2D0F06; }
  .footer__top p {
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
    color: #2D0F06; }
  .footer__top .footer__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer__top .footer__phone a {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #2D0F06;
      margin-bottom: 2px; }
    .footer__top .footer__phone span {
      display: block;
      font-weight: 300;
      font-size: 22px;
      line-height: 20px;
      padding-bottom: 4px;
      border-bottom: 1px dashed #007839; }

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__bottom {
  border-top: 1px solid rgba(45, 15, 6, 0.2);
  padding-top: 20px; }

.footer__copy p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px; }

.footer__copy p:last-child {
  margin-bottom: 0; }

.footer__kontur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer__kontur a {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2D0F06;
    margin-bottom: 3px; }
  .footer__kontur a:last-child {
    margin-bottom: 0; }
  .footer__kontur img {
    margin-left: 12px; }
